<link rel="stylesheet" type="text/css" href="css/styles.css" />
<form id="logout" name="logout" method="GET" action="/" class="logoutButtonForm">
    <input type="submit" value="Log Out" class="logoutButton">
</form>

<h1>Add Yarn Info to Add to Inventory</h1>
<body>
    <form id="addYarn" method="POST" action="/add-yarn">
        <p>
            <label>*Required</label><br><br>
            <input type="text" name="yarnBrand" id="yarnBrand" placeholder="*Yarn Brand" required><br><br>
            <select name="yarnWeight" id="yarnWeight" required>
                <option>*Select</option>
                <option value="Lace">Lace</option>
                <option value="Fingering">Fingering</option>
                <option value="Sport">Sport</option>
                <option value="DK">DK</option>
                <option value="Worsted">Worsted</option>
                <option value="Bulky">Bulky</option>
                <option value="Super Bulky">Super Bulky</option>
            </select><br><br>
            <input type="text" name="yarnFiber" id="yarnFiber" placeholder="Fiber Type"><br><br>
            <input type="text" name="yarnColorFamily" id="yarnColorFamily" placeholder="*Color Family" required><br><br>
            <input type="text" name="yarnColorName" id="yarnColorName" placeholder="Yarn Color Name"><br><br>
            <input type="number" name="inventory" id="inventory" placeholder="*Inventory" required><br><br>
            <input type="submit" value="Add Yarn" class="button">
        </p>
    </form>
    
    <form id="logout" name="logout" method="GET" action="/home">
        <input type="submit" value="Cancel" class="button">
        <p>
            <strong>Warning!</strong><br> 
            Hitting "Cancel" with <strong>delete</strong> all the data you have entered so far!
        </p>
    </form>
    <img src="/img/knitting.png" class="knitting">
</body>