<link rel="stylesheet" type="text/css" href="css/styles.css" />

<form id="logout" name="logout" method="GET" action="/" class="logoutButtonForm">
    <input type="submit" value="Log Out" class="logoutButton">
</form>

<h1>Craft Library Home</h1>
<h2>Welcome to your Craft Library</h2>

<p>To add a yarn, click the <b>Add Yarn</b> button.</p>
<p>To view your yarn inventory, click the <b>View Yarn Inventory</b> button</p>
<form id="addYarnButton" name="addYarn" method="GET" action="/add-yarn-button">
    <input type="submit" value="Add Yarn" class="button">
</form>
<br><br>
<form id="viewYarnInventory" name="viewYarnInventory" method="GET" action="/view-yarn-inventory">
    <input type="submit" value="View Yarn Inventory" class="button">
</form>

<body>
    <img src="/img/knitting.png" class="knitting">
</body>
