<link rel="stylesheet" type="text/css" href="css/styles.css" />

<h1>This is the home page</h1>


<body>
    <form id="logout" name="logout" method="GET" action="/">
        <input type="submit" value="Log Out">
    </form>
    <img src="/img/knitting.png" class="knitting">
</body>
