<h1>This is the Log In page</h1>

<h2>Enter your Info to log in</h2>

<body>
    <form id="check-login-form" method="POST" action="/check-login-form">
        <p>
            <input type="text" name="username" id="username" placeholder="Username" required><br><br>
            <input type="password" name="password" id="password" placeholder="Password" required><br><br>
            <input type="submit" value="Login">
        </p>
    </form>

    <form id="register-form" method="POST" action="/register">
        <p>
            <input type="submit" value="Register">
        </p>
    </form>
</body>