body {
    background-color: rgb(241, 214, 219);
    text-align: center;
    padding-top: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

input {
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

img {
    padding-top: 10%;
    padding-right: 70%;
    width: 250px;
}

