body {
    background-color: rgb(241, 214, 219);
    text-align: center;
    padding-top: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

input {
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.button {
    border-radius: 15px;
    width: 320px;
    border-width: 1px;
}

.knitting {
    padding-bottom: 100px;
    padding-right: 70%;
    width: 350px;
}

.sewing {
    padding-left: 70%;
    width: 300px;
}

.logoutButton {
    text-align: center;
    width: 150px; 
    border-radius: 15px;
}

.logoutButtonForm {
    padding-right: 88%;
    padding-bottom: 5%;
}