body {
    background-color: rgb(241, 214, 219);
    text-align: center;
    padding-top: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

input {
    width: 300px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30%;
    border: 2;
}

select {
    width: 300px;
    text-align: center;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    color: #747474;
}
.button {
    border-radius: 15px;
    width: 320px;
    border-width: 1px;
}

.delete-button {
    width:100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
}

.knitting {
    padding-bottom: 500;
    padding-right: 70%;
    width: 350px;
}

.sewing {
    padding-left: 70%;
    width: 300px;
}

.logoutButton {
    text-align: center;
    width: 150px; 
    border-radius: 15px;
}

.logoutButtonForm {
    padding-right: 88%;
    padding-bottom: 5%;
}

.homeButtonForm {
    padding-right: 88%;
    padding-bottom: 2%;
}

.sortSelect {
    margin-bottom: 50px;
    margin-right: 800px;
}

.more-info-button {
    width: 200px;
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
}